body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
   
}
.display-flex-center{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:1rem;
}
.nav-items{
   background-color: rgb(255, 255, 255); 
   height: 3rem;
   list-style: none;
   padding: 0.5rem 2rem;
   border-radius: 0.2rem;
   font-size: 1.2rem;
   box-shadow: 0 2px 1px  white;


}
.logo{
     font-size: 1.6rem;
     color:rgb(28, 28, 244);
}

.nav-item {
 text-decoration: none;
 letter-spacing: 2px;
 font-weight: 550;
 line-height: 1.5;
 color:black;
 transition: all 0.15s linear;
}
 .nav-item-color{
  color: green;
 }
.nav-links>li:hover{
 transform: scale(1.08) !important;
 color: red;
  transition: all 0.15s linear;
}

@media(max-width:600px) {
  .nav-items{
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  .nav-links{
    flex-direction: column;
    gap:0;
    align-items: flex-start;
  }
  
}