body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(233, 233, 233);
   
}
.display-flex-center{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap:1rem;
}
.navbar{
  background-color: rgb(255, 255, 255); 
  height: 3rem;
  box-shadow: 0 2px 2px 1px white;
    padding: 0.5rem 3rem;
   border-radius: 0.2rem;

}
.nav-items{
 width: 70%;
 margin: 0 auto;
   padding: 0.5rem 3rem;
  border-radius: 0.2rem;
  list-style: none;
   font-size: 1.2rem;

  


}
.logo{
     font-size: 2rem;
     color:rgb(28, 28, 244);
     letter-spacing: 2px;

}

.nav-item {
 text-decoration: none;
 letter-spacing: 2px;
 font-weight: 550;
 line-height: 1.5;
 color:black;
 transition: all 0.15s linear;
}
 .nav-item-color{
  color: green;
 }
.nav-links>li:hover{
 transform: scale(1.08) !important;
 color: red;
  transition: all 0.15s linear;
}


/* pages */
.pages{
width: 50%;
margin:0 auto ;
margin-top: 5vh;
background-color: rgb(239, 239, 239);
margin-bottom: 2rem;
min-height: 60vh;
padding: 2rem 5rem;

}
@media(max-width:600px) {
  .nav-items{
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
  }
  .nav-links{
    flex-direction: column;
    gap:0;
    align-items: flex-start;
  }
  .pages{
    min-height: 70vh;
  }
  
}